---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import LanguagePicker from "@components/languagePicker.astro";

import "@fontsource-variable/playfair";
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const makeTitle = title ? title + " | " + "S.T.D. Reggiani" : "S.T.D. Reggiani";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="S.T.D. Reggiani - By GoodCode"
      canonical={canonicalURL}
      twitter={{
        creator: "@lolelu1994",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `S.T.D. Reggiani`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "S.T.D. Reggiani Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />

    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
